strict-peer-dependencies=false
enable-pre-post-scripts=true
auto-install-peers=true
legacy-peer-deps=true
# https://pnpm.io/npmrc#public-hoist-pattern
# config
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*lint-staged*
public-hoist-pattern[]=*prettier*
# typescript
public-hoist-pattern[]=*@types*
